.button {
	display: flex;

	width: 100%;
	height: 40px;
	padding: 0 10px;

	cursor: pointer;

	color: #ed5567;
	border: none;
	border-radius: 15px;
	outline: none;
	background-color: white;

	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 500;

	align-items: center;
	justify-content: center;

	&--lean {
		height: auto;
		padding: 0;

		color: inherit;
		background-color: transparent;

		font-family: inherit;
		font-size: inherit;
		font-weight: inherit;
	}

	> .icon:not(:only-child) {
		margin-right: 5px;
	}

	&:disabled {
		user-select: none;
		pointer-events: none;

		opacity: .32;
	}

	&[class*='--background'] {
		color: white;
	}

	&--width-auto {
		width: auto;
	}

	&--background-accent {
		background-color: #ed5567;
	}

	&--background-transparent {
		background-color: rgba(#ffffff, .35);
	}

	&--background-none {
		background-color: transparent;
	}

	&--rounded {
		border-radius: 50%;
	}
}
