@import './fonts.scss';
@import './base.scss';
@import './components.scss';

.wrapper {
	display: flex;
	flex-direction: column;

	height: 100vh;
	padding: 45px;

	background: linear-gradient(-50deg, rgba(#de3b73, .9), rgba(#ed5567, .9));

	align-items: center;

	> .image {
		margin-top: 130px;
		margin-bottom: 25px;
	}

	> .text {
		margin-top: auto;
		margin-bottom: 20px;
	}

	&--white {
		background: white;
	}
}

.heading-wrapper {
	display: flex;

	width: 100%;

	justify-content: space-between;
}

.restaurant-tile {
	display: flex;
	flex-direction: column;

	height: 100%;
	padding: 15px;

	background-color: #f0f0f0;

	justify-content: space-around;

	.heading-wrapper {
		justify-content: space-around;
	}
}
